<!DOCTYPE html>
<html>
	<head>
		<title>User</title>
	</head>
	<body>
		<h1>USERS</h1>
		<%for(let u of user){%>
			<h1><li><%=u%></li><h1>
		<%}%>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		</p>
	</body>
</html>